<h1 class="text-center text-primary" style="margin-bottom: 20px;">{{ctrl.field.description}}</h1>
<div class="row">
    <div class="col-sm-6">
        <div total-chart job-totals="ctrl.jobTotals"></div>
        <div change-chart job-seekers="ctrl.jobSeekers" job-change="ctrl.jobsChange"></div>
    </div>
    <div class="col-sm-6">
        <h3>Occupations</h3>

        <form>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-filter"></span>
                <input type="text" class="form-control" ng-model="ctrl.jobFilter" placeholder="filter occupations"/>
            </div>
        </form>
        <div style="height: 310px;overflow-y:scroll;border: 1px solid #eee;">
            <ul class="list-group" style="margin-bottom: 0;">
                <li class="list-group-item" ng-repeat="job in ctrl.sampleJobs | filter:ctrl.jobFilter | limitTo: 100 track by $index">
                    {{job}}
                </li>
            </ul>
        </div>
    </div>
</div>