<h1 class="text-center text-primary" style="margin-bottom: 20px;">{{ctrl.field.description}}</h1>
<div class="row">
    <div class="col-sm-6">
        <div total-chart job-totals="ctrl.jobTotals"></div>
        <div change-chart job-seekers="ctrl.jobSeekers" job-change="ctrl.jobsChange"></div>
    </div>
    <div class="col-sm-6">
        <h3>Occupations</h3>

        <form>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                <input type="text" class="form-control" ng-model="ctrl.jobFilter" placeholder="filter occupations"/>
            </div>
        </form>
        <div class="scrollable-list">
            <ul class="list-group" style="margin-bottom: 0;">
                <li class="list-group-item" ng-repeat="job in ctrl.sampleJobs | filter:ctrl.jobFilter | limitTo: 100 track by $index">
                    {{job}}
                </li>
            </ul>
        </div>

        <div ng-if="ctrl.glassDoorListings">
            <h3>Listings from Glassdoor</h3>

            <form>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    <input type="text" class="form-control" ng-model="ctrl.glassDoorFilter" placeholder="filter job postings"/>
                </div>
            </form>

            <div class="scrollable-list">
                <div ng-repeat="listing in ctrl.glassDoorListings">
                    <h4>{{listing.name}}</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="job in listing.jobTitles | filter:ctrl.glassDoorFilter">
                            <a href="" ng-href="{{ctrl.getLinkToGlassdoor(job.jobTitle)}}" target="_blank">{{job.jobTitle}}</a>
                            ({{job.numJobs}})
                        </li>
                    </ul>
                </div>
            </div>
            <a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-if="ctrl.details.length">
            <h3>Details</h3>
            <ul class="list-group">
                <li ng-repeat="detail in ctrl.details" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {{detail.title}}
                    </h4>
                    <div ng-bind-html="detail.content">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>