<div>
    <form class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.preformSearch()">Go</button>
            </span>
            <input type="text" ng-model="ctrl.liveSearch"
                   class="form-control"
                   placeholder="Enter a field you are interested in"
                   typeahead="descObj.descriptions[0] for descObj in ctrl.fieldData.descriptions | filter:$viewValue | limitTo:8">
        </div>
    </form>

    <result-list
            ng-if="ctrl.search.length > 0"
            search="ctrl.search"
            descriptions="ctrl.fieldData.descriptions"
            field-map="ctrl.fieldData.fieldMap">
    </result-list>
</div>