<div>
    <form id="search-form" class="form-group-lg">
        <h2 id="search-title" class="text-center">Discover your career potential</h2>
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.preformSearch()">Go</button>
            </span>
            <input type="text" ng-model="ctrl.liveSearch"
                   class="form-control"
                   placeholder="Enter a job title or industry you are interested in"
                   typeahead="descObj.description for descObj in ctrl.fieldData.allDescriptions | filter:$viewValue | limitTo:10"
                   typeahead-on-select="ctrl.preformSearch()">
        </div>
    </form>

    <result-list
            ng-if="!ctrl.getFieldId() && ctrl.getSearch().length > 0"
            search="ctrl.getSearch()"
            descriptions="ctrl.fieldData.allDescriptions"
            field-map="ctrl.fieldData.fieldMap">
    </result-list>
    <div if-reload-on-change="ctrl.getFieldId() && ctrl.fieldData.fieldMap[ctrl.getFieldId()]">
        <field-details field="ctrl.fieldData.fieldMap[ctrl.getFieldId()]">
        </field-details>
    </div>

</div>